/*  iconfont  */
@font-face
{
    font-family: Iconfont;
    src: url("fonts/Iconfont.woff") format("woff");
}

.iconfont
{
    font-family: Iconfont;
}
/*  iconfont  */


/*  logo    */
#logo
{
    display: inline-block;
    font-size: 2em;
    color: #aa0022;
    padding: 0 0.1em;
    
    cursor: pointer;
    
    user-select: none;
}

@keyframes logoAnimation
{
    0%
    {
        color: #aa0022;
    }
    50%
    {
        color: #000000;
        transform: rotateY(90deg);
    }
    100%
    {
        color: #aa0022;
    }
}

h1:hover #logo
{
    animation:logoAnimation 2500ms ease-in-out infinite;
}
/*  logo    */


/*  top navigation bar  */
#top_nav
{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 10px 90px 90px;
    
    background: rgba(255,255,255,0.5) content-box;
    
    user-select: none;
    
    z-index: 4;
}

@keyframes topNavBrighten
{
    to
    {
        background-color: rgba(255,255,255,0.9);
    }
}

#top_nav:hover
{
    animation: topNavBrighten 300ms ease-in-out forwards;
}

#top_nav form
{
    display: none;
    
    position: absolute;
    top: 2em;
    right: 0;
    padding: 0.5em 3em 3em 3em;
    
    background-clip: content-box;
    overflow-scrolling: auto;
    
    z-index: -1;
}

#top_nav form span
{
    display: inline-block;
    
    font-size: large;
    font-weight: bold;
    background-color: rgba(255,255,255,0.5);
    
    padding: 0.5em;
    
    cursor: pointer;
}

#top_nav form span:hover
{
    background-color: rgba(255,255,255,0.9);
}

#top_nav form #detail #welcome
{
    padding: 0.5em;
}

#top_nav label
{
    display: block;
    
    padding: 0 0.5em;
}

#top_nav input:not([type="submit"])
{
    display: block;
    
    font-size: 1em;
    text-indent: 1em;
    margin: 0.5em;
    border-radius: 10%/100%;
}

#top_nav input[type="submit"]
{
    font-size: large;
    font-weight: bold;
    background-color: rgba(255,255,255,0.5);
    
    padding: 0.5em;
}

#top_nav input[type="submit"]:hover
{
    background-color: rgba(255,255,255,0.9);
}
/*  top navigation bar  */


/*  top navigation icons    */

    /*  general */
#top_nav a.iconfont
{
    font-size: 1em;
    padding: 5px;
    color: #000000;
    text-decoration: none;
    
    z-index: 5;
}

@keyframes IconEnlargeBrighten
{
    to
    {
        font-size: 1.2em;
        color: #444444;
    }
}

#top_nav:hover a.iconfont
{
    animation: IconEnlargeBrighten 300ms ease-in-out forwards;
}

#top_nav:hover a.iconfont:hover
{
    font-size: 1.5em;
    border-width: 0;
    border-style: inset;
    border-color: #666666;
    border-radius: 33px;
}
    /*  general */

    /*  home    */
@keyframes homeSelected
{
    to
    {
        border-width: 0.2em;
        border-style: inset;
        border-color: #bb0000;
        color: #bb0000;
    }
}

#top_nav:hover #home:hover
{
    animation: homeSelected 150ms ease-in-out forwards;
}
    /*  home    */


    /*  user   */
@keyframes loginSelected
{
    to
    {
        border-width: 0.2em;
        border-style: inset;
        border-color: #0044cc;
        color: #0044cc;
    }
}

#top_nav:hover #user:hover
{
    animation: loginSelected 150ms ease-in-out forwards;
}

#top_nav:hover #user:hover+form, #top_nav:hover #user+form:hover
{
    display: block;
}

#top_nav:hover #user:hover+form label,form:hover label
{
    display: block;
}
    /*  user   */


    /*  cart    */
@keyframes cartSelected
{
    to
    {
        border-width: 0.2em;
        border-style: inset;
        border-color: #dd6600;
        color: #dd6600;
    }
}

#top_nav:hover #cart:hover
{
    animation: cartSelected 150ms ease-in-out forwards;
}
    /*  cart    */


    /*  collection  */
@keyframes collectionSelected
{
    to
    {
        border-width: 0.2em;
        border-style: inset;
        border-color: #ddaa00;
        color: #ddaa00;
    }
}

#top_nav:hover #collection:hover
{
    animation: collectionSelected 150ms ease-in-out forwards;
}
    /*  collection  */


    /*  language    */
@keyframes languageSelected
{
    to
    {
        border-width: 0.2em;
        border-style: inset;
        border-color: #339900;
        color: #339900;
    }
}

#top_nav:hover #language:hover
{
    animation: languageSelected 150ms ease-in-out forwards;
}
    /*  language    */


    /*  help    */
@keyframes helpSelected
{
    to
    {
        border-width: 0.2em;
        border-style: inset;
        border-color: #009977;
        color: #009977;
    }
}

#top_nav:hover #help:hover
{
    animation: helpSelected 150ms ease-in-out forwards;
}
    /*  help    */


    /*  search  */
@keyframes searchSelected
{
    to
    {
        border-width: 0.2em;
        border-style: inset;
        border-color: #6600aa;
        color: #6600aa;
    }
}

#top_nav:hover #search:hover
{
    animation: searchSelected 150ms ease-in-out forwards;
}
    /*  search  */
/*  top navigation icons    */