#popular h2
{
    display: inline;
    background-color: #bb0000;
    color: #ffffff;
    border-width: 10px;
    border-style: solid;
    border-color: #bb0000;
    border-radius: 25%/100%;
    
    box-shadow: 0 0 5px #000000;
    
    user-select: none;
}

#popular img
{
    width: 80%;
    height: 80%;
    position: relative;
    top: 30px;
    left: 10%;
    
    box-shadow: 0 0 20px #000000;
}