#popular h2
{
    display: inline;
    background-color: #bb0000;
    color: #ffffff;
    border-width: 10px;
    border-style: solid;
    border-color: #bb0000;
    border-radius: 25%/100%;
    position: relative;
    
    z-index: 3;
    
    box-shadow: 0 0 5px #000000;
    
    user-select: none;
}

#popular nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    height: 80vmin;
}

#popular img
{
    max-width: 80vw;
    max-height: 80vmin;
    position: relative;
    box-shadow: 0 0 4vmin #000000;
    
    animation: switchImage 5000ms ease-in-out infinite;
}

@keyframes switchImage
{
    0%
    {
        opacity: 0;
    }
    5%
    {
        opacity: 0;
    }
    10%
    {
        opacity: 1;
    }
    90%
    {
        opacity: 1;
    }
    95%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}