*
{
    font-family: "Calibri",sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: #000000;
    box-sizing: border-box;
}

input
{
    outline: none;
}

input[type="button"], input[type="submit"], input[type="checkbox"], input[type="radio"], select:hover {
    cursor: pointer;
}

h1
{
    font-size: 3em;
}

h1 small
{
    font-size: 0.3em;
    color: #444444;
}

hr
{
    border-bottom: 1px solid #cccccc;
}

header
{
    
    
    box-shadow: 0 0 5px #000000;
}

footer
{
    padding: 1em;
    font-size: 1em;
    color: #444444;
}

#bonus
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    
    font-family: monospace;
    font-size: 3em;
    font-weight: bolder;
    color: #ffff00;
}

#bonus:hover:after
{
    content: "pikapika";
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
}

.linearBackground
{
    background: linear-gradient(to right, rgba(239,239,239,0.5), rgba(223,223,223,0.9), rgba(239,239,239,0.5));
}

@keyframes slide
{
    from
    {
        opacity: 0;
        transform:translateY(100%);
    }
    to
    {
        opacity: 1;
        transform:translateY(0%);
    }
}

main
{
    animation: slide 500ms ease-in-out forwards;
}